<h2>Reactive Form Validation</h2>
<form role="form" (ngSubmit)="processData()" [formGroup]="form">
	<div class="form-group" [ngClass]="">
		<label for="name">Name</label>
		<input type="text" class="form-control" name="name" required
			formControlName="name">
		<div class="help-block" *ngIf="errorFields.name">
			<div class="alert alert-danger" role="alert">
			  <span class="glyphicon glyphicon-exclamation-sign"></span>
			  {{ errorFields.name }}
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" name="username" required formControlName="username">
		<div class="help-block" *ngIf="errorFields.username">
			<div class="alert alert-danger" role="alert">
		  		<span class="glyphicon glyphicon-exclamation-sign">
		  		</span>
		  	{{ errorFields.username }}
		</div>
		</div>
	</div>

	<div class="form-group" formArrayName="addresses">
		<div *ngFor=" let address of form.controls.addresses.controls; let i = index; ">
			<div class="panel panel-success">
				<div class="panel-heading">
					Address #{{ i + 1 }}
					<span class="text-right"
						*ngIf=" form.controls.addresses.controls.length > 1 " 
						(click) = "removeAddress(i) ">
						Remove
					</span>
				</div>

				<div class="panel-body" [formGroupName]="i">
					<div class="form-group">
						<label for="city">City</label>
						<input type="text" name="city" class="form-control" formControlName="city">
					</div>

					<div class="form-group">
						<label for="state">State</label>
						<input type="text" name="state" class="form-control" formControlName="state">
					</div>
				</div>
			</div>
		</div>	
	</div>

	<!-- Add address -->
	<div class="text-right">
		<button class="btn btn-success" (click)="addAddress()">Add Address</button>
	</div>

	<div class="form-group">
		<button class="btn btn-info" [disabled]="!form.valid">Save</button>
	</div>

</form>